* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url('./imagens/images.jpeg');
    background-size: 100%;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

img {
    width: 70px;
}

input[type="checkbox"] {
    display: none;
}

nav {
    background-color: black;
    width: 280px;
    height: 100%;
    left: -280px;
    position: absolute;
    transition: all .5s;


}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(280px);
}

ul {
    top: 50px;
    position: absolute;
    width: 100%;


}

a {
    display: block;
    background-color: black;
    padding: 20px 5px;
    color: white;
}

a:hover {
    background-color: yellow;
    color: black;
}

label {
    
    position: absolute;
    z-index: 1;

}